body{
    counter-reset: h2;
}

h2::before{
    content: "Capítulo " counter(h2) ": ";
    counter-increment: h2;
    color: blue;
}

h2{
    counter-reset: h3;
}

h3::after{
    content: " Subsección " counter(h2) "." counter(h3);
    counter-increment: h3;
    color: rgb(79, 165, 79);
    font-style: italic;
}